/* cart css */

/* start footer style*/
a:hover{
    color: #F68B1E !important;
    
}
a{
    text-decoration: none !important;
}
footer{
    background-color:#323232;
}
li a {
    font-size: 12px;
    color: #C7C7CD  !important;
    text-align: justify !important;
}
.icon li{
    display: inline;
   
}
.icon i{
    font-size: 20px;
    padding-right: 16px;
}

button{
    font-size: 20px;
}
p{
    font-size: 12px;
    color: #C7C7CD !important;
}
.iconbuscket{
    color: #F68B1E !important;
}
.badge{
    background-color: #F68B1E !important;
    font-size: large !important;
    padding: 10px!important;
}
h6{
   font-size: 12px !important;
   font-weight: bold !important;
  
}
h2{
    letter-spacing: .9px !important;
    font-family: 'Prompt', sans-serif !important;

}
button p{
    font-size: 8px !important;
}
/*end footer style*/