h1 {
    color: #F68B1E;
}

.conts {
    margin-top: 35px;
}


button {
    background-color: #F68B1E;
    height: 50px;
    color: white;
    border-color: transparent;

}

.btns {
    background-color: #40588A;
    /* color:white; */
}


.rules {

    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.rules input {
    cursor: pointer;
}

input:not([type=radio]) {
    height: 45px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

input:focus {
    border: none;
    outline: 2px solid #F68B1E;
}